header {
    height: 118px;
    text-align: center;
}
nav {
    background-color: rgba(88, 71, 71, 0.466);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    height: 400px;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
}
footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}
.cupu {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
body {
    background-image: url(images/grandma-fullscreen.jpg);
    width: auto;
    height: auto;
}
img {
    height: 118px;
    width: auto;

}
.a {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.b {
    color: white;
    text-align: center;
}
.link1 {
    color: cyan;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 25px;
    padding-right:25px;
}
.c {
    color: antiquewhite;
}